<%= provide(:title, "What About Us") %>


<h1>About Us</h1>

<div class="accordion-inner">
                        <p>Basée à Casablanca, ITKnowledge, est le résultat de l’union d’une équipe d’experts, tant à l’échelle nationale
                        qu’internationale, dans le domaine des nouvelles technologies digitales.</p>
                        <p>ITKnowledge c’est aujourd’hui :</p>
                        <ul>
                        <li>Un capital de plus de 10 ans d’expérience dans les NTIC, le déploiement commercial et marketing;</li>
                        <li>Une équipe d’ingénieurs talentueux, encadrés par des consultants seniors confirmés de haut niveau.</li>
                        </ul>
                        <p>Nous nous positionnons, actuellement, en qualité de centre de compétences en matière des développements
                        orientation services web et mobiles.</p>
                        <p>ITKnowledge c’est également :</p>
                        <ul>
                        <li>La formation et le conseil dans le domaine des technologies de Web marketing;</li>
                        <li>La réalisation de solutions dédiées aux sites web, les web mobiles et les Réseaux Sociaux;</li>
                        <li>Le référencement et l’animation active et dynamique des sites web;</li>
                        <li>Le développement de solutions de sécurité des données sur Internet ainsi que les sites web et les applications web.</li>
                        </ul>
                        <p>L’ensemble de ces atouts nous permettent l’optimisation d’un avantage compétitif précieux au service de nos
                        partenaires.</p>
                        </div>