
<%= provide(:title, "IT Knowledge Home Page") %>

<div class="row">
    
        <div class="span3">
            
            <h2><%= image_tag("performance.png")%> Performance</h2>
            <p>En assurant un bon suivi de votre Système d'information.</p>
            <blockquote><em>Nous aidons nos clients à faire un saut de la performance à l'excellence.</em></blockquote>
            <p>Notre partenariat rend ceci possible.</p>
        </div>
    
        <div class="span3">
            
            <h2><%= image_tag("rendement.png")%> Rendement</h2>
            <p class="tooltip-demo">A travers une prise en mains de votre <a href="#" data-toggle="tooltip" data-placement="top" title="Système d'information">SI</a>.</p>
            <blockquote><em>Notre Expertise vous donne un allier pour un rendement maximal.</em></blockquote>
            <p>Concentrez vous sur votre metier.</p>
        </div>
        
        <div class="span3">
            
            <h2><%= image_tag("visibilite.png")%> Visibilité</h2>
            <p>Votre Système d'information entre de bonne mains</p>
            <blockquote><em>Avec un repporting régulié jouissez d'une visibilité sur l'évolution de votre SI.</em></blockquote>
            <p>Votre réussite est la notre.</p>
        </div>
    </div>